@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

button:active,
input:focus {
  outline: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: clamp(300px, 90%, 1000px);
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  background-color: #fff7f5;
  min-height: 100vh;
  position: relative;
}

.btn-block {
  display: block;
  width: 100%;
}

.row {
  width: 100%;
}

.ctk-red {
  background-color: #e71f3e !important;
}

.transparent {
  background: transparent;
}

.text-ctk-pink {
  color: #c71c87;
}

.ctk-pink {
  background-color: #c71c87;
}

.header {
  background-color: #e71f3e;
  color: #fff;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 0;
  text-align: center;
  padding: 0;
  font-size: 3rem;
}

.footer {
  width: 100%;
  height: 5rem;
  background-color: #e71f3e;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.tickets {
  width: 100%;
  padding: 1rem 0;
}

.tickets .btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  position: fixed;
  bottom: 0;
  right: 1rem;
  transform: translate(-50%, -50%);
}

.tickets .btn-add:focus {
  background-color: #c71c87;
}

.ticket {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 1rem;
}

.ticket-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  margin-bottom: 1rem;
}

.ticket-header h2,
.ticket-header h4 {
  padding: 0;
  margin: 0;
}

.ticket-header h2 {
  font-size: 2.4rem;
}

.ticket-header h4 {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}

.ticket-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ticket-header-right a {
  font-size: 2rem;
  transition: all 0.5s ease;
}

.ticket-header-right a:hover {
  color: #0279b3;
}

.ticket-header-right > * {
  margin: 0 1rem;
}

.ticket-header-right .badge {
  border-radius: 3rem;
  font-size: 1.4rem;
  color: #fff;
  height: 4rem;
  width: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-right: 0;
}

.ticket-body {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  max-height: 5rem;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.ticket-body.expanded {
  max-height: 100rem;
  transition: max-height 4s ease-out;
}

.ticket-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.red {
  background-color: #e71f3e !important;
}

.tabs {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.tabs a {
  color: #f392a1 !important;
}

.tabs a.active {
  color: #fff !important;
}

.tabs .indicator {
  background-color: #fff !important;
  opacity: 0.75;
}

.btn {
  border-radius: 4px;
}

.btn-floating {
  z-index: 100;
}
