@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
	margin: 0rem;
	padding: 0rem;
}

html {
	font-size: 8px;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	overflow-x: hidden;
}

button:active,
input:focus {
	outline: 0;
}

// Image defaults
img {
	max-width: 100%;
	display: block;
}

.container {
	width: clamp(350px, 90%, 1000px);
}

.app-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	background-color: #fff;
	min-height: 100vh;
	position: relative;
}

.btn-block {
	display: block;
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
}

.btn-reset {
	margin-top: 1rem;
	color: #333;
}

.row {
	width: 100%;
}

.ctk-red {
	background-color: $ctk-red !important;
}

.transparent {
	background: transparent;
}

.text-ctk-pink {
	color: $ctk-pink;
}

.ctk-pink {
	background-color: $ctk-pink;
}

*::-webkit-scrollbar {
	width: 0.8rem;
	background: #eee;
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
	background-color: $ctk-pink;
	border: 1px solid #eee;
	border-radius: 1rem;
	opacity: 0.1;
}

.loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.modal-close-btn {
	font-size: 4rem;
	position: absolute;
	top: 14px;
	right: 0;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
		color: #ff0000;
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
		color: #ee0000;
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
		color: #dd0000;
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
		color: #cc0000;
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
		color: #bb0000;
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
		color: #aa0000;
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
		color: #990000;
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
		color: #880000;
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
		color: #770000;
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
		color: #660000;
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
		color: #550000;
	}
}
