@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0rem;
	padding: 0rem;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}

button:active,
input:focus {
	outline: 0;
}

// Image defaults
img {
	max-width: 100%;
	display: block;
}

.container {
	width: clamp(300px, 90%, 1000px);
}

.app-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// max-width: $max-width;
	margin: 0 auto;
	background-color: $bg-color;
	min-height: 100vh;
	position: relative;
}

.btn-block {
	display: block;
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
}

.btn-reset {
	margin-top: 1rem;
	color: #333;
}

.row {
	width: 100%;
}

.ctk-red {
	background-color: $ctk-red !important;
}

.transparent {
	background: transparent;
}

.text-ctk-pink {
	color: $ctk-pink;
}

.ctk-pink {
	background-color: $ctk-pink;
}

body::-webkit-scrollbar {
	width: 0.8rem;
	background: #eee;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: $ctk-pink;
	border: 1px solid #eee;
	border-radius: 1rem;
	opacity: 0.1;
}

.loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
