@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
	box-sizing: border-box;
	margin: 0rem;
	padding: 0rem;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}

button:active,
input:focus {
	outline: 0;
}

// Image defaults
img {
	max-width: 100%;
	display: block;
}

.container {
	width: clamp(300px, 90%, 1000px);
}

.app-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// max-width: $max-width;
	margin: 0 auto;
	background-color: $bg-color;
	min-height: 100vh;
	position: relative;
}

.btn-block {
	display: block;
	width: 100%;
}

.row {
	width: 100%;
}

.ctk-red {
	background-color: $ctk-red !important;
}

.transparent {
	background: transparent;
}

.text-ctk-pink {
	color: $ctk-pink;
}

.ctk-pink {
	background-color: $ctk-pink;
}

body::-webkit-scrollbar {
	width: 0.8rem;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: $ctk-pink;
	border-radius: 1rem;
}
