.modal-form {
	margin-top: 2rem;

	.input-field {
		margin-top: 3rem;
		font-size: 1.6rem;
	}

	.modal-radio-priority {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 3rem;
		font-size: 1.6rem;
	}

	.message {
		font-size: 2rem;
		width: 100%;
		text-align: center;
		animation: shake 0.5s;
		animation-iteration-count: 1;
		margin-bottom: 2rem;
	}
}
