.no-key {
	width: 100%;
	padding: 1rem 0;
	margin: 14rem 0 5rem;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	position: relative;

	&-form {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.input-field {
			width: 100%;
		}
	}

	.incorrect-key {
		color: #777;
		animation: shake 0.5s;
		animation-iteration-count: 1;
		opacity: 1;
		transition: all 0.5s ease;
		font-size: 1.4rem;
		position: absolute;
		top: -30px;
		text-align: center;

		h2 {
			margin: 0;
			padding: 0;
			font-size: 2rem;
		}

		&.invisible {
			opacity: 0;
		}
	}
}
