.no-key {
	width: 100%;
	padding: 1rem 0;
	margin: 14rem 0 5rem;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	position: relative;

	&-form {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.input-field {
			width: 100%;
		}
	}

	.incorrect-key {
		color: #777;
		animation: shake 0.5s;
		animation-iteration-count: 1;
		opacity: 1;
		transition: all 0.5s ease;
		font-size: 1.4rem;
		position: absolute;
		top: -30px;
		text-align: center;

		h2 {
			margin: 0;
			padding: 0;
			font-size: 2rem;
		}

		&.invisible {
			opacity: 0;
		}
	}

	@keyframes shake {
		0% {
			transform: translate(1px, 1px) rotate(0deg);
			color: #ff0000;
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg);
			color: #ee0000;
		}
		20% {
			transform: translate(-3px, 0px) rotate(1deg);
			color: #dd0000;
		}
		30% {
			transform: translate(3px, 2px) rotate(0deg);
			color: #cc0000;
		}
		40% {
			transform: translate(1px, -1px) rotate(1deg);
			color: #bb0000;
		}
		50% {
			transform: translate(-1px, 2px) rotate(-1deg);
			color: #aa0000;
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
			color: #990000;
		}
		70% {
			transform: translate(3px, 1px) rotate(-1deg);
			color: #880000;
		}
		80% {
			transform: translate(-1px, -1px) rotate(1deg);
			color: #770000;
		}
		90% {
			transform: translate(1px, 2px) rotate(0deg);
			color: #660000;
		}
		100% {
			transform: translate(1px, -2px) rotate(-1deg);
			color: #550000;
		}
	}
}
