.ticket {
	background-color: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 4rem 0;
	border-radius: 1rem;
	position: relative;

	.badges {
		font-size: 1.4rem;
		color: #fff;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-weight: normal;
		position: absolute;
		top: -2rem;
		right: 2rem;

		.badge {
			border-radius: 3rem;
			height: 4rem;
			margin-right: 0;
			margin-bottom: 0.5rem;
			padding: 0 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 1rem;
			background-color: $urgent-priority-color;

			h4 {
				font-size: 1.4rem;
				color: #fff;
				margin: 0;
				padding: 0;
			}
		}
	}

	h4 {
		color: rgba($color: #000000, $alpha: 0.6);
	}

	&-header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-weight: bold;
		margin-bottom: 1rem;
		padding: 2rem 2rem 0;

		.ticket-subject {
			font-size: 1.8rem;
			font-weight: normal;
			text-align: left;
		}

		.ticket-subject,
		h4 {
			padding: 0;
			margin: 0;
		}

		h4 {
			margin-top: 1rem;
			font-size: 1.4rem;
		}

		&-top {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			text-align: center;
			width: 100%;

			h4,
			p {
				margin: 0;
				padding: 0;
				font-weight: normal;
			}

			a {
				font-size: 2rem;
				transition: all 0.5s ease;

				&:hover {
					color: darken($color: #039be5, $amount: 10);
				}
			}

			> * {
				margin: 0 1rem;
			}
		}

		&-bottom {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;
			width: 100%;

			& .priority {
				margin-left: auto;
			}

			& h4 {
				font-weight: 700;
				margin-right: 1rem;
				display: inline-block;
			}
		}
	}

	&-body {
		font-size: 1.4rem;
		color: rgba($color: #000000, $alpha: 0.6);
		max-height: 10rem;
		overflow: hidden;
		transition: height 0.4s ease-out;
		white-space: wrap;
		overflow-wrap: break-word;
		width: 100%;
		transition: all 1s ease-out;
		padding: 0 2rem;

		&.expanded {
			max-height: unset;
			transition: all 1s ease-out;
		}
	}

	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 1rem;
		// padding: 0 2rem;
		border-radius: 0 0 1rem 1rem;
		background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 1) 60%,
			rgba(255, 255, 255, 0.8) 70%,
			rgba(255, 255, 255, 0.6) 80%,
			rgba(255, 255, 255, 0.4) 90%,
			transparent 100%
		);

		.btn {
			border-radius: 0.4rem 0.4rem 0.4rem 1rem;
		}

		.expanding-btn {
			transition: all 1s ease;
			// display: none;
			color: #fff;
		}
	}
}
