.tickets {
	width: 100%;
	padding: 1rem 0;
	margin: 2rem 0 5rem;
	position: relative;

	&-user-select {
		width: 100%;
		color: #333;
		height: 100%;
		position: relative;

		label {
			font-size: 1.2rem;
		}

		select {
			height: 5rem;
			display: block;
			font-size: 1.6rem;
			appearance: none;
			line-height: unset;

			option {
				line-height: unset;
				height: 5rem;
			}
		}
	}

	.btn-add {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2.6rem;
		position: fixed;
		bottom: 0rem;
		right: 0rem;
		transform: translate(-50%, -50%);

		&:focus {
			background-color: $ctk-pink;
		}
	}

	.btn-load-more {
		letter-spacing: 1px;
		margin-top: 1rem;
	}

	.no-tickets {
		color: rgba($color: #000000, $alpha: 0.3);
		text-align: center;
	}
}
