.ticket {
	background-color: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
	padding: 2rem;
	border-radius: 1rem;

	h4 {
		color: rgba($color: #000000, $alpha: 0.6);
	}

	&-header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-weight: bold;
		margin-bottom: 1rem;

		.ticket-subject,
		h4 {
			padding: 0;
			margin: 0;
		}

		.ticket-subject {
			font-size: 2rem;
			font-weight: normal;
			text-align: left;
		}

		h4 {
			margin-top: 1rem;
			font-size: 1.4rem;
		}

		&-top {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			text-align: center;
			width: 100%;

			h4,
			p {
				margin: 0;
				padding: 0;
				font-weight: normal;
			}

			a {
				font-size: 2rem;
				transition: all 0.5s ease;

				&:hover {
					color: darken($color: #039be5, $amount: 10);
				}
			}

			> * {
				margin: 0 1rem;
			}

			.badge {
				border-radius: 3rem;
				font-size: 1.4rem;
				color: #fff;
				height: 4rem;
				width: 8rem;
				min-width: 8rem;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;
				margin-right: 0;
				font-weight: normal;
			}
		}

		&-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			width: 100%;

			.due-date {
				margin-right: 0;
				text-align: center;
				color: rgba($color: #000000, $alpha: 0.6);
				font-weight: normal;
				width: 8rem;

				&.overdue {
					background-color: $urgent-priority-color;
					padding-bottom: 1rem;
					border-radius: 0.4rem;

					* {
						color: #fff;
					}
				}
			}
		}
	}

	&-body {
		font-size: 1.6rem;
		color: rgba($color: #000000, $alpha: 0.6);
		max-height: 5rem;
		overflow: hidden;
		transition: height 0.4s ease-out;
		white-space: wrap;
		overflow-wrap: break-word;
		width: 100%;
		transition: all 0.4s ease-out;

		&.expanded {
			max-height: unset;
			transition: all 0.4s ease-out;
		}
	}

	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 1rem;

		.expanding-btn {
			transition: all 1s ease;
			display: none;
		}
	}
}
