$bg-color: #fff7f5;
$link-color: #00b2ff;
$btn-color: #458fff;
$desc-color: #777777;
$low-priority-color: #20e800;
$med-priority-color: #2a27c5;
$high-priority-color: #ff7a00;
$urgent-priority-color: #d80000;
$max-width: 60rem;
$ctk-red: #e71f3e;
$ctk-pink: #c71c87;
$-secondary-color: #26a69a;
