$bg-color: #fff7f5;
$link-color: #00b2ff;
$btn-color: #458fff;
$desc-color: #777777;
$low-priority-color: #14ff00;
$med-priority-color: #fff500;
$high-priority-color: #ff9900;
$urgent-priority-color: #ff0000;
